@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    font-family: "Raleway", "Sans serif";
    width: 100%;
}

main{
    margin: auto;
    padding: 2.5%;
}




/*NAVBAR*/
header {
    align-items: center;
    display: flex;
    height: 90px;
    padding: 0 2.5% 0 2.5%;
    width: 95%;
}

.headerNavbar{
    margin-left: auto;
    height: 100%;
    width: 300px;
    
}
.headerNavbar ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.headerNavbarLi{
    border-top: 5px white solid;
    height: 100%;
    padding-top: 15%;
    text-align: center;
    width: 100%;
}

.headerNavbar li>a{
    text-decoration: none;
}

.headerNavbarLi:hover{
    border-top: 5px blue solid;
    transition-duration: 0.1s;
}




/*SEARCH*/

.map{
    border:  2px solid #F2F2F2;
    padding: 0 50px 0 15px;
}  

.search h1{
    font-size: 20px;
    font-weight: bolder;
    font-family: 'raleway';
    margin-bottom: 15px;
}

.searchForm{
    display: inline-flex;
    margin-top: 25px;
    overflow: auto;
}

.searchFormIcon {
    background-color: #F2F2F2;
    border-radius: 16px 0 0 18px;
    padding: 16px 17px;
    text-align: center;
}

.search button{
    border: none;
    background-color: #0065FC;
    border-radius: 0 16px 18px 0;
    color: white;
    font-size: 18px;
    font-family: "Raleway", "Sans serif";
    font-weight: bolder;
    font-family: 'raleway';
    padding: 0 20px;
    text-align: center;
}
    
.search button>i{
    display: none;
}

.map::placeholder{
    align-items: center;
    color:#000;
    font-size: 16px;
    font-weight:bolder;
    font-family: 'raleway';
}




/*FILTERS*/

.filters{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
  
.filters h2{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    font-family: 'raleway';
}

.filtersCategory{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.filtersCategory > div{
    align-items: center;
    border-radius: 50px;
    border:  2px solid #d9d9d9;
    display: flex; 
    height: 45px;
    margin: 15px;
}

.filtersCategory >div :hover{
     color: #0065FC;
}

.filtersCategory > div p{
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    font-family: 'raleway';
    margin: 15px;
}

.filtersIcon{
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    color: #0065fc; 
    display: flex;
    height: 40px;
    justify-content: center;
    margin-left: -3px;
    min-width: 47px;
    min-height: 47px;
    width: 40px;
}

.filtersResult{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.filtersResult i{
    align-items: center;
    border-radius: 100%;
    border: solid 1px #d9d9d9;
    color: #0065fc;
    display: flex;
    height: 15px;
    justify-content: center;
    margin-right: 5px;
    min-width: 20px;
    min-height: 20px;
    width: 15px;
}
    



/*HOSTINGS*/

.hostingCity{
    column-gap: 30px;
    display: grid;
    flex-direction: row;
    grid-template-columns: 2.5fr 1fr;
    width: 100%;
}

#hosting{
    border-radius: 1.5rem;
    background-color: #F2F2F2;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px;
}

.hostingHeader{
    grid-column: 1 / 4;
    grid-row: 1;
    font-weight: 600;
    font-size: 20px;
}

.hostingCard{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    box-sizing: border-box; 
    height: auto;
    padding: 5px;
    transition-duration: 0.1s;
    width: 100%;
}

.hostingCard:hover{
    transform: scale(1.02);
}

.hostingCard a{
    text-decoration: none;
}

.descriptionCard{
    margin:0;
}

.descriptionCard figcaption{
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.hostingCard p{
    color: #000;
    font-size: 15px;
    margin: 10px 0 10px 10px;
}

.hostingCard p>span{
    font-weight: bold;
}

.hostingCard .descriptionStars{
    color: #0065fc;
    margin-left: 10px;
}

.hostingCard .descriptionStars [data-active=false]{
    color:#d9d9d9;
}

.descriptionImg{
    border-radius: 15px 15px 0 0;
    height: 112px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

.hostingViewMore{
    font-weight: 600;
    margin-top: 15px;
}

.hostingViewMore a{
    color:#000;
    text-decoration: none;
}

.hostingViewMore a:hover{
    color: blue;
}




/* POPULAR */

.hostingPopular{
    background-color: #F2F2F2;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    width: auto;
}

.hostingPopularTitle {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    padding-top: 10px;
}

.hostingPopularTitle i{
    padding-left: auto;
}

.hostingPopularCard{
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 16px #0000002e;
    height: 145px;
    width: 100%;
}

.descriptionPopularCard{
    border-radius: 20px 0 0 20px;
}

.hostingPopular a{
    text-decoration: none;
}

.descriptionPopularCard figcaption{
    color: #000;
    font-weight: 600;
    padding: 10px 10px 5px 105px;
}

.hostingPopularCard p{
    color:#000;
    font-size: 15px;
    padding: 10px 10px 5px 105px;
    
}

.hostingPopularCard p>span{
    font-weight: bold;
}

.hostingPopularCard .descriptionStars [data-active=false]{
    color:#d9d9d9;
}

.hostingPopularCard .descriptionStars{
    color: #0065fc;
    padding: 40px 10px 5px 105px;
}

.descriptionPopularImg img{
    border-radius: 20px 0 0 20px;
    height: 137px;
    padding: 4px;
    object-fit: cover;
    position:absolute;
    width: 110px;
}

.hostingPopularCard:hover{
    transform: scale(1.02);
}




/*ACTIVITY*/

#activity{
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    width: 100%;
}

#activity h2{
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}

.activityCard{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.activityCard a{
    text-decoration: none;
}

.activityCard h4{
    color: #000;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    margin: 15px 15px 15px 15px;
}

.activity1{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    height: 500px;
    width: 25%;
}

.activity1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 450px;
    max-width: 100%;
    object-fit: cover;
}

.activity1:hover{
    transform: scale(1.02);
}

.activityColumn{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.activity2{ 
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    height: 275px;
    width: 100%;
}

.activity2 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 230px;
    object-fit: cover;
    width: 100%;
}

.activity2:hover{
    transform: scale(1.02);
}

.activity3{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    height: 195px;
    margin-top: 30px;
    width: 100%;
}

.activity3 img{ 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 145px;
    object-fit: cover;
    width: 100%;
}

.activity3:hover{
    transform: scale(1.02);
}

.activity4{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    height: 500px;
    width: 25%;
}

.activity4 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 450px;
    max-width: 100%;    
    object-fit: cover;
}

.activity4:hover{
    transform: scale(1.02);
}

.activity5{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey; 
    height: 230px;
    width: 100%;
}

.activity5 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 180px;
    object-fit: cover;
    width: 100%;
}  

.activity5:hover{
    transform: scale(1.02);
}

.activity6{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgrey;
    height: 240px;
    margin-top: 30px;
    width: 100%;
}

.activity6 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 190px;
    object-fit: cover;
    width: 100%;
}

.activity6:hover{
    transform: scale(1.02);
}




/*FOOTER*/

footer{
    background: #F2F2F2;
    width: 100%;
}

.footerColumn{
    display: flex;
    flex-direction: row;
    padding: 2.5%; 
    width: 100%;
}

.footerSection{
    line-height: 35px;
    width: 31.5%;
}

.footerSection h3{
    font-weight: 700;
}




/*MEDIA QUERIES*/

                        @media (min-width: 320px) and (max-width: 480px) {
                            
                            
                            main{
                                margin-top: 10px;
                                padding: 0;
                                width: 100%;
                            }

                            .search, .map, #hosting, .hostingPopular, #activity{
                                padding: 2.5%;
                            }

                            header{
                                display: grid;
                                height: 150px;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                            }

                            .headerImg{
                                padding: 5% 0% 5% 40%;
                                width: 25%;
                            }

                            .headerNavbar{
                                border-bottom: solid #F2F2F2 3px;
                                 height: 35px;
                                text-align: center;
                                width: 100%;
                            }

                            .headerNavbar ul{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                height: 100%;
                                width: 100%;
                            }
                           
                            .headerNavbarLi{
                                height: 100%;
                                padding: 0;
                            }
                           
                            .headerNavbarLi:hover{
                                border-top: none;
                                border-bottom: 3px blue solid;
                                transition-duration: 0.1s;
                                padding: 0;
                                width: 100%;
                            }

                            .search{
                                text-align: left;
                            }

                            .search button>span{
                                display: none;
                            }

                            .search button>i{
                                display: block;
                            }

                            .map{
                                width:100%;    
                            }
                            
                            .map::placeholder{
                                font-size: 15px;
                                width: 100%;
                            }
                            
                            .filters h2{
                                margin-top: 35px;
                                margin-left: 15px;
                            }

                            .filtersCategory{
                                margin: 0;
                                width: 100%;
                            }

                            .filtersCategory > div{
                                font-size: 15px;
                            }

                            .filtersResult{
                                margin-left: 15px;
                            }
                            
                            .filtersResult p{
                                font-size: 14px;
                                font-weight: 100;
                                width: 275px;
                            }

                            .hostingCity{
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 30px;
                            }

                            #hosting{
                                background: none;
                                display: flex;
                                flex-direction: column;
                            }
                            
                            .hostingHeader{
                                font-size: 18px;
                            }

                            .hostingPopular{
                                border-radius: 0 0 0 0;
                                height: auto;
                            }

                            .hostingPopularTitle{
                                flex-wrap: wrap;
                                font-size: 18px;
                                width: 100%;
                            }

                            .hostingPopularTitle i{
                                margin-left: auto;
                                padding: 0;
                            }
                            
                            .hostingPopularCard figcaption{
                                font-size: 15px;
                                padding-top: 10px;
                                padding-left: 125px;
                            }

                            .hostingPopularCard p{
                                font-size: 13px;
                                padding-left: 125px;
                            }

                            .hostingPopularCard  .descriptionStars{
                                padding-left: 125px;
                            }
                            
                            .activityColumn{
                                width: 100%;
                            }

                            .activityCard{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                            }

                            .activity1{
                                height: 170px;
                                width: 100%;
                            }

                            .activity1 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity2{
                                height: 170px;
                                width: 100%;
                            }

                            .activity2 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity3{
                                height: 170px;
                                width: 100%;
                            }

                            .activity3 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity4{
                                height: 170px;
                                width: 100%;
                            }

                            .activity4 img{
                                height: 70%;
                                width: 100%;
                            }
                        
                            .activity5{
                               height: 170px; 
                               width: 100%;
                            }

                            .activity5 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity6{
                                height: 170px;
                                width: 100%;
                            }
                              
                            .activity6 img{
                                height: 70%;
                                width: 100%;
                            }

                            footer{
                                margin-top: 30px;
                                width: 100%;
                            }

                            .footerColumn{
                                flex-direction: column;
                                padding: 0;
                                width: 100%;
                            }
                            
                            .footerSection{
                                padding: 2.5%;
                                width: 95%;
                            }
                        }

                        @media (min-width: 481px) and (max-width: 767px) {
                        
                            main{
                                margin-top: 10px;
                                padding: 0;
                                width: 100%;
                            }

                            .search, .map, #hosting, .hostingPopular, #activity{
                                padding: 2.5%;
                            }
                            header{
                                display: grid;
                                height: 150px;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                            }

                            .headerImg{
                                padding: 5% 0% 5% 40%;
                                width: 25%;
                            }

                            .headerNavbar{
                                border-bottom: solid #F2F2F2 3px;
                                height: 35px;
                                text-align: center;
                                width: 100%;
                            }

                            .headerNavbar ul{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                height: 100%;
                                width: 100%;
                            }
                           
                            .headerNavbarLi{
                                height: 100%;
                                padding: 0;
                            }
                           
                            .headerNavbarLi:hover{
                                border-top: none;
                                border-bottom: 3px blue solid;
                                padding: 0;
                                transition-duration: 0.1s;
                                width: 100%;
                            }

                            .search{
                                text-align: left;
                                
                            }
                            .searchForm{
                                width: 100%;
                            }

                            .search button>span{
                                display: none;
                            }

                            .search button>i{
                                display: block;
                            }
     
                            .filters h2{
                                margin-top: 35px;
                                margin-left: 15px;
                            }

                            .filtersResult{
                                margin-left: 15px;
                            }
                            
                            .filtersResult p{
                                font-size: 18px;
                                font-weight: 100;
                                width: 85%;
                            }

                            .hostingCity{
                                display: flex;
                                flex-direction: column-reverse;
                                gap: 30px;
                            }

                            #hosting{
                                background: none;
                                display: flex;
                                flex-direction: column;
                            }
                            
                            .hostingHeader{
                                font-size: 20px;
                            }

                            .hostingPopular{
                                border-radius: 0 0 0 0;
                                height: auto;
                            }

                            .hostingPopularTitle{
                                flex-wrap: wrap;
                                font-size: 20px;
                                width: 100%;
                            }

                            .hostingPopularTitle i{
                                margin-left: auto;
                                padding: 0;
                            }
                            
                            .hostingPopularCard figcaption{
                                padding-top: 15px;
                                padding-left: 130px;
                            }

                            .hostingPopularCard p{
                                padding-left: 130px;
                            }

                            .hostingPopularCard  .descriptionStars{
                                padding-left: 130px;
                            }
                           
                            #activity h2{
                                font-size: 20px;
                            }
                            
                            .activityColumn{
                                width: 100%;
                            }

                            .activityCard{
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                            }

                            .activity1{
                                height: 170px;
                                width: 100%;
                            }

                            .activity1 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity2{
                                height: 170px;
                                width: 100%;
                            }

                            .activity2 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity3{
                                height: 170px;
                                width: 100%;
                            }

                            .activity3 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity4{
                                height: 170px;
                                width: 100%;
                            }

                            .activity4 img{
                                height: 70%;
                                width: 100%;
                            }
                        
                            .activity5{
                               height: 170px; 
                               width: 100%;
                            }

                            .activity5 img{
                                height: 70%;
                                width: 100%;
                            }

                            .activity6{
                                height: 170px;
                                width: 100%;
                            }
                              
                            .activity6 img{
                                height: 70%;
                                width: 100%;
                            }

                            footer{
                                margin-top: 30px;
                                width: 100%;
                            }

                            .footerColumn{
                                flex-direction: column;
                                padding: 0;
                                width: 100%;
                            }
                            
                            .footerSection{
                                padding: 2.5%;
                                width: 95%;
                            }
                        }

                        @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
                            
                            main{
                                padding: 0;
                                width: 100%;
                            }

                            header {
                                padding: 0px 15px;
                            }

                            .search, .map, #hosting, .hostingPopular, #activity, .filters h2, .filtersResult{
                                padding: 2.5%;
                            }
                            
                            .searchForm{
                                width: 100%;
                            }
                            
                            .filtersCategory{
                                margin: 0;
                            }

                            .hostingCity{
                                display: flex;
                                flex-direction: column-reverse;
                            }

                            #hosting{
                                background: none;
                                display: grid;
                            }
                            
                            .hostingPopularTitle i{
                                margin-left: auto;
                            }

                            .hostingPopular{
                                border-radius: 0;
                                height: auto;
                            }
                            
                            .hostingPopularCard figcaption{
                                font-size: 18px;
                                padding-top: 15px;
                                padding-left: 140px;
                            }

                            .hostingPopularCard p{
                                font-size: 16px;
                                padding-left: 140px;
                            }

                            .hostingPopularCard  .descriptionStars{
                                margin-top: 10px;
                                padding-left: 140px;
                            }

                            #activity{
                                margin-bottom: 20px;
                            }
    
                            .footerSection{
                                margin: 5px;
                                padding: 0;
                                width: 31.5%;
                            }

                            .footerColumn{
                                width: 95%;
                            }
                        }  
                        @media only screen and (min-width : 1204px){
                            
                            .searchForm{
                                width: 100%;
                            }

                            .map{
                                width: 20%;
                            }
                            
                            .hostingPopularTitle i{
                                margin-left: auto;
                            }
                            
                            .hostingPopularCard figcaption{
                                font-size: 16px;
                                padding-top: 15px;
                                padding-left: 120px;
                            }

                            .hostingPopularCard p{
                                font-size: 14px;
                                padding-left: 120px;
                            }

                            .hostingPopularCard  .descriptionStars{
                                padding-left: 120px;
                            }
                        }
                        @media only screen and (min-width : 1224px) {

                            .map::placeholder{
                                font-size: 15px;
                            }

                            .hostingPopularTitle i{
                               margin-left: auto;
                            }

                            .descriptionPopularImg img{
                                width: 90px;
                            }
                            
                            .footerSection{
                                margin: 5px;
                                padding: 0;
                                width: 31.5%;
                            }

                            .footerColumn{
                                width: 95%;
                            }
                            
                        }

                        @media only screen and (min-width : 1824px) {

                            .hostingHeader{
                                font-size: 25px;
                            }

                            .descriptionCard figcaption{
                                font-size: 18px;
                            }

                            .hostingCard p{
                                font-size: 15px;
                            }

                            .hostingViewMore{
                                font-size: 18px;
                            }

                            .hostingPopular{
                                gap: 25px;
                                padding: 15px;
                            }

                            .hostingPopularTitle{
                                font-size: 25px;
                                flex-wrap: wrap;
                                margin-top: 2px;
                            }
                            
                            .hostingPopularTitle i{
                                margin-left: auto;
                                padding: 0;
                            }

                             .hostingPopularCard{
                                height: 150px;
                            }
  
                            .descriptionPopularImg img{
                                width: 150px;
                                height: 142px;
                            }

                            .descriptionPopularCard figcaption{
                                font-size: 17px;
                                padding: 10px 15px 5px 170px;
                                width: auto;
                            }
                            
                            .hostingPopularCard p{
                                font-size: 15px;
                                padding: 15px 10px 5px 170px;
                            }

                            .hostingPopularCard .descriptionStars{
                                padding: 40px 10px 5px 170px;
                                width: auto;
                            }

                            #activity h2{
                                font-size: 25px;
                            }
                            
                            .activityLink_activity >h4{
                                font-size: 15px;
                            }

                            
                          }
                                
                       